/** error.css **/
:root {
  --bgColor:               white;
  --fgColor:               black;
  --textShadow:            2px 2px 2px rgb(0, 0, 0);
}

html, body {
  height: 100%;
  margin:0;
  padding:0;
  overflow: hidden;
  width: 100%;
}

.buttonContainer {
  margin: 1rem;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
  margin: 2rem;
}

.errorTitle {
  font-family: var(--fontLight);
  font-size: var(--fontSizeVeryLarge);
  margin-top: 0.5rem;
  text-align: center;
}

.errorImg {
  height: 50vh;
  max-height: 300px;
}

.caption {
  color: rgb(100, 100, 100);
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

/* on a phone held vertically */
@media (hover: none) and (orientation: portrait) {
   .page {margin:2rem;}
  .errorTitle {font-size: var(--fontSizeLarge);}
}

/* on a phone held horizontally */
@media (hover: none) and (orientation: landscape) and (max-width: 768px) {
  html, body {font-size:0.75rem;}
  .page {gap:0.5rem; margin:1rem 0 0 0; height:100%; width:100%;}
}
