/** reset.css **/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
/*  -webkit-text-size-adjust: none; */
/*  text-size-adjust: none; */
}

body {
/*  -webkit-font-smoothing: antialiased; */
  line-height: 1.5;
  text-rendering: optimizelegibility;
}

a:not([class]) {
  text-underline-offset: 0.25em;
}

img, picture, video, canvas, svg {
  display: block; max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
/*  overflow-wrap: break-word; */
}
